@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
h4,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #4f260b;
    font-weight: normal;
    font-feature-settings: "palt";
    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3",
        "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
        "ＭＳ 明朝", serif;
}

html {
    scroll-behavior: smooth;
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
}

a:hover {
    opacity: 0.5;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

/* ヘッダー */

.header_wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-right: 7%;
    padding-left: 2.8%;
    box-sizing: border-box;
}

.header_wrap .header_logo {
    width: 226px;
}

.pc_nav ul {
    display: flex;
    justify-content: space-between;
}

.pc_nav ul li {
    min-width: 105px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    text-align: center;
}

.pc_nav ul li + li {
    margin-left: 55px;
}

/* メイン */

main {
    margin: 0 auto;
    background-color: #e8d9bf;
}

.main_container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0px 10px;
}

/* メイントップ */

.main_top {
    padding: 100px 0px;
    text-align: center;
}

.main_top h2 {
    font-size: 82px;
    line-height: 1.17;
    padding-top: 45px;
    padding-bottom: 30px;
    letter-spacing: 0.1em;
}

.main_en p {
    font-size: 30px;
}

.main_ja p {
    font-size: 23px;
    line-height: 1.65;
    letter-spacing: 0.1em;
}

/* アバウト */

.about {
    display: flex;
    justify-content: space-between;
}

.about_us_img {
    border-bottom-right-radius: 80px;
}

.about_img {
    width: 50%;
}

.about_text {
    width: 41%;
}

.about_logo {
    width: 272px;
}

.about_text img {
    padding-top: 50px;
    width: 100%;
}

.about_text h3 {
    font-size: 44px;
    line-height: 1.38;
    padding: 40px 0px 20px 0px;
}

.about_text p {
    font-size: 16px;
    line-height: 1.63;
}

.item_logo {
    text-align: center;
    padding: 80px 0px 30px 0px;
    height: 78px;
}

.item_logo img {
    height: 100%;
}

/* メニュー */

.menus {
    display: flex;
    justify-content: space-between;
}

.menus_list {
    width: 30%;
}

.menus img {
    border-top-right-radius: 45px;
}

.menus h3 {
    color: #d30202;
    margin: -14px 0px 15px 14px;
    font-size: 38px;
}

.menus p {
    font-size: 17px;
    line-height: 1.4;
}

/* ギャラリー */

.gallery_img {
    display: flex;
    /* width: 20%; */
}

.gallery_logo {
    text-align: center;
    padding: 80px 0px 20px 0px;
    height: 78px;
}

.gallery_logo img {
    height: 100%;
}

/* イベント */

.event_table_item {
    margin: auto;
    padding: 30px 0px;
    font-size: 23px;
    line-height: 1.96;
}

.event_table_item td {
    padding-left: 40px;
}

.event_table_item a {
    text-decoration: underline;
}

.event_table {
    border: 3.5px solid #4f260b;
    background-color: #fff;
}

/* アクセス */

.map {
    width: 100%;
    height: 470px;
    display: block;
}

/* フッター */

.footer_item {
    display: flex;
    text-align: left;
}

.footer {
    max-width: 1000px;
    margin: 0 auto;
    padding: 75px 10px;
}

.footer_logo {
    width: 226px;
    padding-right: 65px;
}

.footer_items p {
    font-size: 20px;
    line-height: 1.95;
    color: black;
}

.small {
    text-align: center;
    font-size: 16px;
    padding-top: 80px;
    color: black;
}

.btn {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 125px;
}

.sp_nav,
.sp_btn,
.header_slider_sp,
.about_img_sp {
    display: none;
}

@media screen and (max-width: 1100px) {
    .pc_nav {
        display: none;
    }

    /* ハンバーガー */
    .sp_btn {
        position: absolute;
        top: 20px;
        right: 25px;
        display: block;
        height: 23px;
        cursor: pointer;
        z-index: 2;
    }

    .sp_btn span,
    .sp_btn span::before,
    .sp_btn span::after {
        display: block;
        width: 33px;
        height: 3px;
        border-radius: 2px;
        background: #fff;
        transition: 0.3s;
    }

    .sp_btn span::before,
    .sp_btn span::after {
        content: "";
        position: absolute;
    }

    .sp_btn span {
        position: relative;
        top: 10px;
    }

    .sp_btn span::before {
        bottom: 10px;
    }

    .sp_btn span::after {
        top: 10px;
    }

    /* ハンバーガー閉じる */

    .sp_btn.open span {
        background: transparent;
    }

    .sp_btn.open span::before {
        bottom: 0;
        transform: rotate(45deg);
    }

    .sp_btn.open span::after {
        top: 0;
        transform: rotate(135deg);
    }

    /* ハンバーガーメニュー */

    .sp_nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.8);
        z-index: 1;
    }

    .sp_nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .sp_nav ul li {
        padding: 20px 0;
        color: #fff;
        font-size: 18px;
        font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic",
            "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    }

    .main_top {
        padding: 48px 0px;
    }

    .main_top h2 {
        font-size: 50px;
    }

    .main_ja p {
        font-size: 20px;
    }

    .main_en p {
        font-size: 27px;
    }

    .about_text h4 {
        font-size: 36px;
        padding: 30px 0px 20px 0px;
    }

    .about_text img {
        padding-top: 0;
    }
}

@media screen and (max-width: 767px) {
    .about_img {
        display: none;
    }

    .header_wrap .header_logo {
        width: 187px;
    }

    .main_container {
        padding: 0px 16px;
    }

    .main_top h2 {
        font-size: 38px;
        padding-top: 24px;
        padding-bottom: 16px;
        letter-spacing: 0.02em;
        margin: 0 -16px;
    }

    .main_ja p {
        font-size: 16px;
        line-height: 1.85;
    }

    .main_en p {
        font-size: 17px;
    }

    .about_img_sp {
        display: block;
        margin: 0 -16px;
    }

    .about_img_sp img {
        width: 100%;
    }

    .about {
        display: block;
    }

    .about_text {
        width: 100%;
    }

    .about_text h3 {
        font-size: 36px;
        padding: 28px 0px 12px 0px;
    }

    .about_text p {
        line-height: 1.8;
    }

    .about_logo {
        margin: 0 auto;
        width: 160px;
    }

    .about_logo img {
        padding-bottom: 12px;
    }

    .item_logo {
        padding: 32px 0px 16px 0px;
        height: 45px;
    }

    .menus {
        display: block;
        padding: 0 20px;
    }

    .menus_list {
        width: 100%;
    }

    .menus_list img {
        width: 100%;
    }

    .menus h3 {
        font-size: 40px;
    }

    .menus p {
        line-height: 1.65;
        padding-bottom: 48px;
    }
    /* ギャラリー */
    .gallery_img a img {
        width: 100%;
    }

    .gallery_logo {
        padding: 40px 0px 20px 0px;
        height: 45px;
    }

    /* イベント */
    .event_table table,
    .event_table tbody,
    .event_table tr {
        display: block;
    }

    .event_table_item {
        margin: 0;
        padding: 16px;
        font-size: 16px;
        line-height: 1;
    }

    .event_table_item td {
        padding-left: 0;
    }

    .event_table_item a {
        text-decoration: underline;
    }

    .event_table_item td {
        display: block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .event_date {
        padding-top: 20px;
        padding-bottom: 5px;
    }

    .event_table_item tr:first-child .event_date {
        padding-top: 0;
    }

    /* アクセス */

    .map {
        height: 192px;
    }

    /* フッター */

    .footer_item {
        display: block;
    }

    .footer {
        padding: 48px 20px 24px 20px;
    }

    .footer_logo {
        padding-bottom: 20px;
    }

    .footer_items p {
        font-size: 18px;
    }

    .small {
        padding-top: 32px;
    }

    .btn {
        bottom: 16px;
        right: 16px;
        width: 100px;
    }
}

@media screen and (min-width: 768px) {
    .sp_br {
        display: none;
    }
}

.slick-dots {
    bottom: 20px;
}

.slick-dots li button:before,
.slick-dots li.slick-active button:before {
    color: #fff;
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.slick-next:before {
    content: "→";
    display: none;
}

.slick-prev:before {
    content: "←";
    display: none;
}

.slick-arrow {
    width: 20px;
    height: 20px;
    border-top: 3px solid white;
    border-right: 3px solid white;
    top: 45%;
}

.slick-next {
    transform: rotate(45deg);
    right: 50px;
}

.slick-prev {
    transform: rotate(-135deg);
    left: 50px;
    z-index: 100;
}

.lb-data .lb-number {
    display: none !important;
}
