@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
h4,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #4f260b;
    font-weight: normal;
    font-feature-settings: "palt";
    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3",
        "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
        "ＭＳ 明朝", serif;
}

html {
    scroll-behavior: smooth;
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
}

a:hover {
    opacity: 0.5;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

/* ヘッダー */

.header_wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-right: 7%;
    padding-left: 2.8%;
    box-sizing: border-box;
}

.header_wrap .header_logo {
    width: 226px;
}

.pc_nav ul {
    display: flex;
    justify-content: space-between;
}

.pc_nav ul li {
    min-width: 105px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    text-align: center;
}

.pc_nav ul li + li {
    margin-left: 55px;
}

/* メイン */

main {
    margin: 0 auto;
    background-color: #e8d9bf;
}

.main_container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0px 10px;
}

/* メイントップ */

.main_top {
    padding: 100px 0px;
    text-align: center;
}

.main_top h2 {
    font-size: 82px;
    line-height: 1.17;
    padding-top: 45px;
    padding-bottom: 30px;
    letter-spacing: 0.1em;
}

.main_en p {
    font-size: 30px;
}

.main_ja p {
    font-size: 23px;
    line-height: 1.65;
    letter-spacing: 0.1em;
}

/* アバウト */

.about {
    display: flex;
    justify-content: space-between;
}

.about_us_img {
    border-bottom-right-radius: 80px;
}

.about_img {
    width: 50%;
}

.about_text {
    width: 41%;
}

.about_text img {
    padding-top: 50px;
    width: 272px;
}

.about_text h4 {
    font-size: 44px;
    line-height: 1.38;
    padding: 40px 0px 20px 0px;
}

.about_text p {
    font-size: 16px;
    line-height: 1.63;
}

.item_logo {
    height: 78px;
    text-align: center;
    padding: 80px 0px 30px 0px;
}

.item_logo img {
    height: 78px;
}

/* メニュー */

.menus {
    display: flex;
    justify-content: space-between;
}

.menus_list {
    width: 30%;
}

.menus img {
    border-top-right-radius: 45px;
}

.menus h4 {
    color: #d30202;
    margin: -14px 0px 15px 14px;
    font-size: 38px;
}

.menus p {
    font-size: 17px;
    line-height: 1.4;
}

/* ギャラリー */

.gallery_img {
    display: flex;
    width: 20%;
}

.gallery_logo {
    height: 78px;
    text-align: center;
    padding: 80px 0px 20px 0px;
}

.gallery_logo img {
    height: 78px;
}

/* イベント */

.event_table_item {
    margin: auto;
    padding: 30px 0px;
    font-size: 23px;
    line-height: 1.96;
}

.event_table_item td {
    padding-left: 40px;
}

.event_table_item a {
    text-decoration: underline;
}

.event_table {
    border: 3.5px solid #4f260b;
    background-color: #fff;
}

/* アクセス */

.map {
    width: 100%;
    height: 470px;
    display: block;
}

/* フッター */

.footer_item {
    display: flex;
    text-align: left;
}

.footer {
    max-width: 1000px;
    margin: 0 auto;
    padding: 75px 10px;
}

.footer_logo {
    width: 226px;
    padding-right: 65px;
}

.footer_items p {
    font-size: 20px;
    line-height: 1.95;
    color: black;
}

.small {
    text-align: center;
    font-size: 16px;
    padding-top: 80px;
    color: black;
}

.btn {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 125px;
}
